.login{
    width: 40%;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}
.login > h2{
    text-align: center;
    font-weight: bold;
    color: #f99900;
}
.lgForm{
    
}