<div class="homeContainer">
	<div class="container">
		<div class="homeContent">
			<div ngClass="allBlogs">
				<form #f="ngForm">
					<div class="product">
						<div class="col-md-3">
							<img src="static/dist/assets/images/{{product.image_name}}" class="img-thumbnail">
						</div>
						<div class="col-md-9 content_product">
							<h3>{{product.title}}</h3>
							<p class="total">Total : {{product.total}}</p>
							<p class="price">Price : $ {{product.price}}</p>
							<a [routerLink]="['/profiles', product.user_id]" > By : {{product.user}}</a>
							<div class="form-inline" *ngIf="currentUser.id == product.user_id">
								<div class="form-group">
									<label>Buy record : </label>
									<input class="form-control" type="number" name="record" min="1" [(ngModel)]="record" [disabled]="check" required>
									<span *ngIf="!f.form.valid && f.form.hasError('required', ['record'])"
									class="error" style="color: red;">Name is required.</span>
								</div>
							</div>
							<hr>
							<button class="btn btn-primary pull-left" (click)="buy(product.id)" >Buy</button>
							<a class="btn btn-danger pull-right" [routerLink]="['/my-shop']">Back</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<simple-notifications [options]="options" ></simple-notifications>